body {
  font-family: sans-serif;
}

div {
  margin: 16px 0;
}

.container {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang-select-container {
  display: flex;
}

.lang-select-container p {
  margin-right: 16px;
}

input {
 padding: 6px 12px;
 width: 300px;
 border-radius: 20px;
 border: 1px solid #ffad15;
 outline: none;
}

button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: #ffad15;
}

button:hover {
  cursor: pointer;
}

select {
  padding: 0 12px;
  background-color: #15ffad;
  border-radius: 20px;
  border: none;
  outline: none;
}

select:hover {
  cursor: pointer;
}

select option {
  background-color: #d9fff1;
}

h3.correct {
  color: green;
}

h3.incorrect {
  color: red;
}
